In [1]:
#tuple(Immutable entity)

In [17]:
t = (1,2,2,5,6,7,"shar","ineuron")

In [3]:
t[0]

1

In [4]:
t[0:4]

(1, 2, 2, 5)

In [6]:
#in-built function (only 2)

In [8]:
t.count(2)  #no. of times 2 occuring in tuple

2

In [10]:
t.count("shar")

1

In [11]:
t.index(1)  #it gives index at which 1 is available

0

In [12]:
t.index("ineuron")

7

In [14]:
t.index(2)

1

In [18]:
del(t)  #to delete tuple

In [19]:
#Set  (Holds dataset with unique elements - repetition is not allowed)

In [20]:
s = set()

In [21]:
s.add(3)

In [22]:
s.add(5)

In [23]:
s.add("shar")

In [24]:
s.add(3)

In [25]:
s

{3, 5, 'shar'}

In [28]:
s1 = {3,4,5,6,7,8,8,9,9,9, "shar","Shar"}

In [29]:
s1  ##removed duplicates

{3, 4, 5, 6, 7, 8, 9, 'Shar', 'shar'}

In [30]:
l = [1,2,2,3,4,4,4,4,5,6,6,6,7,8,8,8]

In [31]:
#to remove duplicate from list(but if it contains list inside list then it fails)

set(l)

{1, 2, 3, 4, 5, 6, 7, 8}

In [32]:
l = [1,2,2,3,4,4,4,4,5,6,6,6,7,8,8,8, [1,2,3]]
set(l)

TypeError: unhashable type: 'list'

In [33]:
s1 = set()
for i in l:
    if type(i) != list:
        s1.add(i)
        
        
s1

{1, 2, 3, 4, 5, 6, 7, 8}

In [34]:
#inbulit function of set

In [36]:
s1.remove(3)   #removes element 3  from the set

In [41]:
s1.remove(3454)  #element is not present in the set

KeyError: 3454

In [37]:
s1

{1, 2, 4, 5, 6, 7, 8}

In [38]:
s1.discard(5)

In [39]:
s1

{1, 2, 4, 6, 7, 8}

In [42]:
s1.discard(3454)  #even though element is not present in the set but it doesnot give error

In [43]:
x = {"ineuron","machine","learning"}
y = {"stats","deep learning", "computer vision", "ineuron"}

In [44]:
type(x)

set

In [45]:
type(y)

set

In [46]:
#let us find out difference between two sets

In [48]:
x.difference(y)    #in x but not in y

{'learning', 'machine'}

In [49]:
s

{3, 5, 'shar'}

In [50]:
#is it possible to extract data based on iteration or element

In [53]:
s[0]  #indexing operations are not possible in case of set because set stores data in unorder way

TypeError: 'set' object is not subscriptable

In [54]:
for i in s:
    print(i)

3
5
shar

In [55]:
#to perfrom indexing operation we need to convert it to

In [56]:
tuple(s)

(3, 5, 'shar')

In [57]:
list(s)

[3, 5, 'shar']

In [59]:
#Dictionary (colllection which  holds data in keyt and value pair)

In [60]:
d = {}  #by default curly braces are considered as dictionary

In [61]:
type(d)

dict

In [62]:
d = {4,5,6}
type(d)

set

In [63]:
d = {"key":"value"}

In [64]:
l=[0,1,2,3,4,5,6]

In [65]:
l[0] #indexes are created by its own

0

In [66]:
d = {4:"shar", 5:"kulkarni", "k1":"xyz", "k2":[1,2,3,4,5], 6:(4,5,6,7,8)}

In [67]:
d1 = {4:"shar", 5:"kulkarni", #:"sfsfd"}  ##key cannot be special case character

SyntaxError: unexpected EOF while parsing (<ipython-input-67-53c6e1a87050>, line 1)

In [68]:
d1 = {4:"shar", 5:"kulkarni", [1,2,3]:"sfsfd"}   ##key cannot be list

TypeError: unhashable type: 'list'

In [70]:
d1 = {4:"shar", 5:"kulkarni", (1,2,3):"sfsfd"}   #it works fine with tuple

In [71]:
d1 = {4:"shar", 5:"kulkarni", _:"sfsfd"}  #it works fine with underscore bcz underscore is considered as a place holder

In [73]:
_ = 45

In [74]:
type(_)

int

In [75]:
d1 = {4:"shar", 5:"kulkarni", {3,4,5,6}:"sfsfd"}  #key cannot be set

TypeError: unhashable type: 'set'

In [76]:
##in case of key, mostly use int, string

In [78]:
d1 = {4:"shar", 5:"kulkarni", 4:"sddsfdfg"}   #repeating key

In [79]:
d1

{4: 'sddsfdfg', 5: 'kulkarni'}

In [80]:
#dictionary key holds one property and that propert is called as uniqueness 
#if the key is repeating then it will update the new value

In [83]:
d2 = {1:"shardul", 2: "Kulkarni", 3: ["ML", "Dl", "OOPS", "Exception"], 4: "shardul"}

In [84]:
d2

{1: 'shardul',
 2: 'Kulkarni',
 3: ['ML', 'Dl', 'OOPS', 'Exception'],
 4: 'shardul'}

In [85]:
#accessinbg values

In [86]:
d2[1] #using keys

'shardul'

In [87]:
d2[3]

['ML', 'Dl', 'OOPS', 'Exception']

In [91]:
d = {4:"shar", 5:"kulkarni", "k1":"xyz",(1,2,3):"hi", "k2":[1,2,3,4,5], 6:(4,5,6,7,8)}

In [89]:
d["k1"]

'xyz'

In [92]:
d[(1,2,3)]

'hi'

In [93]:
#dictionary inside a dictionary

In [94]:
d = {"k1":"ineuron", "k2":"ineuron", 'k3':{1:"shar", 2:"kulkarni", 3:"xyz"}}

In [95]:
#fetch xyz from the given dictionary

In [100]:
d["k3"][3]

'xyz'

In [101]:
#add more key and values to the same dictionary d

In [102]:
d["k4"] = 345

In [103]:
d

{'k1': 'ineuron',
 'k2': 'ineuron',
 'k3': {1: 'shar', 2: 'kulkarni', 3: 'xyz'},
 'k4': 345}

In [106]:
d["k1"] = "hi hello"  #replcaed value with key k1

In [107]:
d

{'k1': 'hi hello',
 'k2': 'ineuron',
 'k3': {1: 'shar', 2: 'kulkarni', 3: 'xyz'},
 'k4': 345}

In [108]:
#iterate over the dictionary

In [109]:
for i in d:
    print(i)   #it only prints key

k1
k2
k3
k4

In [110]:
#inbuilt funtions
d.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [111]:
d.values()

dict_values(['hi hello', 'ineuron', {1: 'shar', 2: 'kulkarni', 3: 'xyz'}, 345])

In [112]:
d.items()  #to fetch both key and value

dict_items([('k1', 'hi hello'), ('k2', 'ineuron'), ('k3', {1: 'shar', 2: 'kulkarni', 3: 'xyz'}), ('k4', 345)])

In [114]:
list(d.keys())[1]

'k2'

In [115]:
#try to check entire dictionary, try to find out if value is available in the form of dictionary and fetch values

In [116]:
for i in d.keys():
    if type(d[i]) ==  dict:
        print(d[i])

{1: 'shar', 2: 'kulkarni', 3: 'xyz'}

In [117]:
#try to cretae a key value pair  where key is int and value is square of a key for range in 0 to 10

In [118]:
d = {}
for i in range(0,11):
    d[i] = i**2

In [119]:
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [120]:
#write the same code in single line of code

In [121]:
#dictionary comprehension

In [122]:
{i:i**2 for i in range(11)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [123]:
s = "ineuron"
#create a dictionary where each and every character will be key and its value will be ineuron

In [126]:
{s[i]:s for i in range(len(s))}

{'i': 'ineuron',
 'n': 'ineuron',
 'e': 'ineuron',
 'u': 'ineuron',
 'r': 'ineuron',
 'o': 'ineuron'}

In [148]:
d = {"ineuron": {"a":23, "b": 34, "c":56}, "course":{"d":45, "e":12}, "str":65}
#print the max value present in the entire dictionary

In [149]:
max = 0
# lst = list()
for k,v in d.items():
    if type(v) == dict:
        for i in v.values():
            if i > max:
                max = i
    else:
        v>max
        max = v
max

65

In [150]:
#what if we add floating pt no, list, tuple, set, ladder of dictionary(write this as a generic code)