In [1]:
##Functions(used to resuability of the code)

In [3]:
def test():
    pass        #defining a function

In [4]:
test()  #calling a function

In [5]:
def test1():
    print("this is my first function")

In [6]:
test1()

this is my first function

In [7]:
def shard():
    print("This is my own function")

In [8]:
shard()

This is my own function

In [9]:
def test2():
    print(1+2)

In [10]:
test2()

3

In [11]:
def test3(a, b):
    print(a+b)
test3(2,4)

6

In [12]:
test3(54,46)

100

In [13]:
test3("shardul", "Kulkarni")

shardulKulkarni

In [15]:
test3("4","shar")

4shar

In [16]:
def test4(a,b):
    if type(a) != str:
        print(str(a) + b)

In [19]:
test4(4,"shar")

4shar

In [20]:
test4(4,"shar") + "Kulkarni"

4shar

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [21]:
type(test4(4,"shar"))

4shar

NoneType

In [22]:
#print always reutrns nonetype

In [24]:
def test5(a,b):
    if type(a) != str:
        return (str(a)+b)
    else:
        return (a+b)

In [25]:
test5(4,"shar") + "Kulkarni"

'4sharKulkarni'

In [26]:
type(test5(4,"shar"))

str

In [27]:
def test6(a,b,c):
    return a+2, b+3, c+4, a+b+c

In [35]:
n = test6(3,4,6)  #we get reutrn in the form of tuple
n

(5, 7, 10, 13)

In [32]:
type(test6(3,4,5))

tuple

In [33]:
a, b,c,d = 10,4,"shar",56.45

In [37]:
x,y,z,w = test6(3,4,5)  #instead of returing the complete answer in the form of tuple we can hold it in separate entities

In [38]:
x

5

In [40]:
y

7

In [41]:
z

9

In [42]:
w

12

In [43]:
_ , _, _, b = test6(3,4,5)  #if we only want one operation

In [45]:
b**4

20736

In [46]:
def test7(x,y):
    return x+y, x, x**4, x*y

In [47]:
test7(3,4)

(7, 3, 81, 12)

In [48]:
#if we only want  x**4 operation
test7(3,4)[2]

81

In [49]:
#or

_,_,t, _ = test7(3,4)

In [50]:
t

81

In [51]:
def test8(b,v,c):
    d = b*v*c
    f = b+v+c+d
    return d, f

In [52]:
test8(4,5,6)

(120, 135)

In [53]:
a, b = test8(4,5,6)

In [54]:
a

120

In [55]:
b

135

In [56]:
#pass a list inside function and find out the no. of strings inside a list

In [57]:
l = ["shar", 3,4,5,6,"kulk", "a", "b", 56.45]

In [58]:
count = 0
for i in l:
    if type(i) == str:
        count += 1
print(count)

4

In [68]:
def string_count(l):
    count = 0
    for i in l:
        if type(i) == str:
            count += 1
    #print(count)
    return count

In [69]:
string_count(l)

4

In [2]:
l1 = ["shar", 3,4,5,6,"kulk", "a", "b", 56.45, "ddf", "dsaf", 67]

In [71]:
string_count(l1)

6

In [72]:
type(string_count(l))

int

In [73]:
""""#for inuilt functions if we enter shift+tab then we get the description of the function 
but it is not available in user defined functions, so to achieve this we follow the below procedure"""

'"#for inuilt functions if we enter shift+tab then we get the description of the function \nbut it is not available in user defined functions, so to achieve this we follow the below procedure'

In [4]:
#Docstring

def string_count(l1):
    """this is my function where it will try to return number of string variables presnt inside the list"""
    count = 0 
    for i in l1:
        if type(i) == str:
            count += 1
    return count
string_count(l1)

6

In [75]:
def test9(b,c):
    return b,c

In [77]:
test9(4,)

TypeError: test9() missing 1 required positional argument: 'c'

In [78]:
#To avoid this define default values

In [79]:
def test9(b = 10, c= 6):
    return b,c

In [80]:
test9(4)

(4, 6)

In [81]:
test9("sudh")

('sudh', 6)

In [82]:
def test10(a,b,c,n,v):
    return "this is my fun"

In [85]:
test10(2,3,4,5,6, 7,8)

TypeError: test10() takes 5 positional arguments but 7 were given

In [86]:
#create a fun, where it takes n no of strings as arguments and then it returns concatenation os all the strings

In [89]:
def test11(*args):   #we use * to pass any no. of variables in the function and args is just a name
    return args

In [90]:
test11(3,4,5,6)

(3, 4, 5, 6)

In [91]:
test11(3,"sudh")

(3, 'sudh')

In [92]:
test11(4,5,6,7,8,9,"sdghdf","dsftgsd")

(4, 5, 6, 7, 8, 9, 'sdghdf')

In [96]:
#if the variables are strings then provide with concatenation

p = test11(4,5,6,7,8,9,"sdghdf","dsftgsd", "Shardul", [3,4,5,6])
t = ""
for i in p:
    if type(i) == str:
        t = t + i
print(t)

sdghdfdsftgsdShardul

In [94]:
#or

def test12(*args):
    con = ""
    for i in args:
        if type(i) == str:
            con = con + i
    return con

In [95]:
test12(4,5,6,7,8,9,"sdghdf","dsftgsd", "Shardul", [3,4,5,6])

'sdghdfdsftgsdShardul'

In [97]:
#args is just a name

def test12(*shar):
    con = ""
    for i in shar:
        if type(i) == str:
            con = con + i
    return con

In [98]:
test12(4,5,6,7,8,9,"sdghdf","dsftgsd", "Shardul", [3,4,5,6])

'sdghdfdsftgsdShardul'

In [99]:
def test13(*args, a,b,c,d):
    return args, a,b,c,d

In [102]:
test13(3,4,5,6,6,7)

TypeError: test13() missing 4 required keyword-only arguments: 'a', 'b', 'c', and 'd'

In [104]:
#to avoid this
test13(3,4,5,6,6,7, a= 4, b =5, d =10,c=6)

((3, 4, 5, 6, 6, 7), 4, 5, 6, 10)

In [105]:
#Keyword arguments (to pass data as key, value pair i.e as dictionary and n no. of data) - returns dictionary

In [106]:
def test14(**kwargs):
    return kwargs

In [110]:
test14(a= 34, b =56, c = 67, sudh = [3,4,5,6,6])

{'a': 34, 'b': 56, 'c': 67, 'sudh': [3, 4, 5, 6, 6]}

In [112]:
#create a function that takes any no. of key value pair and if value = list then return no. of string inside a list

In [117]:
def test15(**kwargs):
    count = 0
    for i,j in kwargs.items():
        if type(j) == list:
            for k in j:
                if type(k) == str:
                    count += 1
    return count

In [119]:
test15(a= 34, b =56, c = 67, sudh = [3,4,5,6,6,"a","b"], shar = [1,2,3,4,"c"])

3