In [1]:
#control flow statemnets

In [ ]:
#IF - else

In [8]:
a = 10
if a:
    print("this is value of a", a)

this is value of a 10

In [9]:
if a<20:
    print("value of a", a)
else:
    print("invalid")

value of a 10

In [11]:
if a < 20:
    pass #if you do not want to write any statement in if condition then you can use this predefined keyword pass, it simply skips the condition

In [2]:
a = 10
if a > 20:
    print("my number")
else:
    print("value of a:", a)

my number

In [19]:
a = 10
if a > 20:
    print("my number")
elif a < 20:
    print("hey")
else:
    print("value of a:", a)

hey

In [20]:
a = 10
if a == 30:
    print("this is my number")
elif type(a) == int:
    print("i am checking type of var")
elif a < 20:
    print("print from elif")
else:
    print("print this statement")

i am checking type of var

In [24]:
#simple shopping example
Discount = int(input("Enter discount value:"))
if Discount == 50:
    print("you can buy all the itmes listed in row 1")
elif Discount == 30:
    print("You can buy all the items from row number 2")
elif Discount == 20:
    print("send user to row 3")
elif Discount > 10:
    print("send user to row 4")
else:
    print("there is no item available")
    
#nested if can also be implemented

Enter discount value:5
there is no item available

In [25]:
#for loop

In [27]:
l = [2,3,4,5,6,7,8,9,1,2,3]
l

[2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3]

In [31]:
for i in l:
    print(i)

2
3
4
5
6
7
8
9
1
2
3

In [32]:
l = ["sudh", [1,2,3,4], (2,3,4,5,6), 56, 67, 6+7j, True, 45, 67]

In [33]:
for i in l:
    print(i)

sudh
[1, 2, 3, 4]
(2, 3, 4, 5, 6)
56
67
(6+7j)
True
45
67

In [35]:
#if we wqant to extract only strings
for i in l:
    if (type(i) == str):
        print(i)

sudh

In [37]:
#if there is list, access the 2nd element
for i in l:
    if(type(i) == list):
        print(i[2])

3

In [38]:
#print the list ion reverse order
for i in l:
    if(type(i) == list):
        print(i[::-1])

[4, 3, 2, 1]

In [41]:
s = "shardul kulkarni"
for i in s:
    print(i)

s
h
a
r
d
u
l

k
u
l
k
a
r
n
i

In [43]:
t = (3,4,5,6)
for i in t:
    print(i)

3
4
5
6

In [47]:
print(list(range(10)))
print(tuple(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [46]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [52]:
for i in l:
    if(type(i) == list or type(i) == tuple):
        print(i)

[1, 2, 3, 4]
(2, 3, 4, 5, 6)

In [55]:
#nested for
li = [[1,2,3,4], "John", (1,2,3,4,5), 445, 44.8, 3+7j, True, "Smith"]
for i in li:
    if type(i) == list or type(i) == tuple:
        print(i)
        for n in i:
            print(n)

[1, 2, 3, 4]
1
2
3
4
(1, 2, 3, 4, 5)
1
2
3
4
5

In [67]:
#print a pyramid structure

n = int(input())
for i in range(n):
    for j in range(i+1):
        print("*", end = " ")
    print("")

10
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [73]:
n = 3
for i in range(n):
    for j in range(i+1):
        print("*", end = "")
#     print(" ")

******

In [11]:
n = 3
for i in range(n):
    for j in range(i+1):
        print("*", end = "")
    print(" ")
for i in range(n):
    for j in range(n-i-1):
        print("*", end = "")
    print(" ")

*
**
***
**
*

In [3]:
l = [[1,1,2,2,3,3],[2,4,2,2,5],[1,5,8,8,2]]
x = []
for i in l:
    if type(i) == list:
        for j in i:
            if j not in x:
                x.append(j)
                if i.count(j)!=1:
                    print("The count of", j,"in",i, "is", i.count(j))
            else:
                x.append(j)
        x.clear()

The count of 1 in [1, 1, 2, 2, 3, 3] is 2
The count of 2 in [1, 1, 2, 2, 3, 3] is 2
The count of 3 in [1, 1, 2, 2, 3, 3] is 2
The count of 2 in [2, 4, 2, 2, 5] is 3
The count of 8 in [1, 5, 8, 8, 2] is 2

In [89]:
s = "shar"
s[::-1]

'rahs'

In [12]:
n = 3
for i in range(1,n+1):
    print(" "*(n-i)+"* "*i)
for i in range(n-1, 0, -1):
    print(" "*(n-i)+"* "*i)

  *
 * *
* * *
 * *
  *